.btm{
    display: block;
    text-align: center;
    margin-top: 31px;
    margin-bottom: 25px;
    background: #9B9BCA;
    border-radius: 10px;
    
  
    
    
   
   
    
  
   
}.btm__text{
    margin: 16px 66px 17px 67px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    
    

}